
.group {
    margin: 1em 0.5em;
}

.input {
    width: 100%;
    border-radius: 5px;
    height: 3em;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    padding: 0 10px;
    font-size: 1.1em;
}

.label {
    font-weight: 500;
    font-size: 1.2em;
    color: grey;
}