
.group {
    margin: 1em 0.5em;
}

.input {
    width: 100%;
    border-radius: 5px;
    height: 3em;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    padding: 0 10px;
    font-size: 1.1em;
}

.label {
    font-weight: 500;
    font-size: 1.2em;
    color: grey;
}

.inline {
    display: flex;
    align-items: center;
    margin: 0.5em;
}

.inlineLabel {
    width: 40%;
}

.inlineInput {
    border-radius: 5px;
    border: 1px solid #ebebeb;
    height: 2em;
    padding: 0 10px;
    width: 40%;
    font-size: 1.1em;
    box-sizing: border-box;
}