.title {
    margin-top: 0.5em;
    color: #00a7c7;
    font-size: 2em;
    text-align: center;
}

.applied {
    margin: 1em 0.5em;
}

.appliedLegend {
    font-size: 1.2em;
}

.noApplied {
    color: #feab6b;
    font-style: italic;
    margin: 0.5em 0.2em; 
}