
.version {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

.name {
    font-size: 1.2em;
    width: 50%;
    color: grey;
}

.controls {
    width: 40%;
    display: flex;
    align-items: center;
}

.controlAction {
    display: inline-block;
    margin-right: 0.7em;
    color: #00a7c7;
}

.controlAction:hover {
    color: #9bcfe0;
}

.active {
    color: #feab6b;
}