.title {
    text-align: center;
}

.catalogue {
    margin: 1em 0;
}

.search {
    display: flex;
    justify-content: center;
    margin: 1.2em 0;
}

.searchInput {
    width: 70%;
}

.searchIcon {
    position: absolute;
    bottom: 0.9em;
    right: 2.7em;
    color: #00a7c7;
}