
.refactoring {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1em;
    border-radius: 5px;
    border: 1px solid #ebebeb;
}

.refactoring:hover {
    cursor: pointer;
    background-color: #ebebeb;
}

.thumbnail {
    width: 6em;
    height: auto;
    margin: 0.5em;
}

.name {
    margin: 1em 0.5em;
    font-size: 1.3em;
    font-weight: bold;
    color: #e76f3d;
    width: 70%;
}