.title {
    text-align: center;
}

.catalogue {
    margin: 1em 0;
}

.search {
    display: flex;
    justify-content: center;
    margin: 1.2em 0;
    position: relative;
}

.searchInput {
    width: 70%;
}

.searchIcon {
    position: absolute;
    bottom: 1em;
    right: 3em;
    color: #00a7c7;
}

.searchMessage {
    color: #e76f3d;
    text-align: center;
    font-size: 1.3em;
    margin: 1em 0;
}