.group {
    margin: 2.5em 0;
}

.groupName {
    font-size: 1.3em;
    color: #00a7c7;
}

.icon {
    margin-left: 0.3em;
}

.addRule {
    color: #feab6b;
}

.addRule:hover {
    text-decoration: underline;
}