@import url(//fonts.googleapis.com/css?family=Archivo);

body {
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2147483647;
  background-color: white;
  box-shadow: 0px 0px 5px #0000009e;
  margin:10px;
}

.opened {
  height: 100%;
  width: 30%;
}

.closed {
  height: 5%;
  width: 5%;
  overflow-y: hidden;
  overflow-x: hidden;
}
